@font-face {
    font-family: 'mabi';
    src: url('../fonts/Mabinogi_Classic_OTF.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'mabi';
}

body {
    background: #000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
